/*Application*/

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* header */

header {
  padding: 15px 0 15px 15px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  border-bottom: 2.5px solid #428dff;
  box-shadow: 0px 0 7px rgba(0, 0, 0, 0.7);
  color: #428dff;
  align-items: center;
}

#appLogo {
  max-width: 75px;
  max-height: 75px;
}

#addProject {
  max-width: 40px;
  max-height: 40px;
}

/*Projects*/

.project {
  display: grid;
  grid-template-columns: auto 1fr;
  color: #428dff;
}

/*Projects Sidebar*/

.projectsSidebar {
  color: #428dff;
  padding: 5px 25px 0px 20px;
  border-right: 1.5px solid #428dff;
}

/*Project Control Centre*/

.projectControlCentre {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 50px 1fr;
}



/*Project Checklist*/

.projectChecklist {
  display: grid;
  grid-template-rows: 75px auto auto;
  margin: 50px;
  min-width: 200px;
  min-height: 200px;
  border: 5px solid #428dff;
  border-radius: 15px;
}

.checklist-title {
  border-bottom: 5px solid #428dff;
  color: white;
  background-color: #428dff;
  text-align: center;
}

.todo {
  border-bottom: 3px solid #428dff;
  padding: 5px 15px;
  min-height: 70px;

  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  place-items: center start;
  place-content: center center;
  gap: 15px;
}

.addTodo {
  place-items: center center;
  place-content: center center;
  display: grid;
  grid-template-columns: auto;
}

.todo-priority {
  background-color: red;
  padding: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#check,
#editItem,
#deleteItem {
  max-width: 25px;
  max-height: 25px;
}

#addItem {
  max-width: 50px;
  max-height: 50px;
}

/*Project Description*/

.projectDescription {
  margin: 50px;
  min-width: 200px;
  min-height: 200px;
  border: 5px solid #428dff;
  border-radius: 15px;

  display: grid;
  grid-template-rows: 75px auto;
}

.projectDescription-title {
  border-bottom: 5px solid #428dff;
  color: white;
  background-color: #428dff;
  text-align: center;

  max-height: 75px;
}

.project-details {
  padding: 10px;
  text-align: center;
  color: black;
}

/*footer*/

footer {
  padding: 15px 0 0px 0px;
  border-top: 1.5px solid #428dff;
  /*box-shadow: 0px 0 7px rgba(0, 0, 0, 0.7);*/
  color: #428dff;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
}

footer h6 {
  margin: 10px;
}

#footerLogo {
  max-width: 25px;
  max-height: 25px;
}